@tailwind base;
@tailwind components;
@tailwind utilities;

.movielist{
    font-family: Cabin;
}

.sitename{
    font-family: Preahvihear;
}

#addmovie{
    font-family: Preahvihear
}

.header{
    font-family: Cabin;
}

body{
    font-family: Cabin;
}

footer{
    background-color: #363e4a;
}

#footerText{
    font-family: Cabin;
    color:aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
   }
   
.grid-item {
    border: 1px solid #ccc;
    padding: 1em;
    text-align: center;
   }

.movieTitle{
    font-family: Cabin;
    font-size: 20px;
}